<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/f943f480-a8c9-47d4-80c5-e0152b52eb19/resourceGroups/evansim-functions-test/providers/Microsoft.ContainerRegistry/registries/evansimfunctiontest</ResourceId>
    <ResourceName>evansimfunctiontest</ResourceName>
    <ResourceGroup>evansim-functions-test</ResourceGroup>
    <Subscription>o365 Shell Dev</Subscription>
    <RegistryUrl>https://evansimfunctiontest.azurecr.io</RegistryUrl>
    <PublishImageTag>latest</PublishImageTag>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
  </PropertyGroup>
</Project>